/* VARIABLES ------------------------------ */
:root {
    --onyx: rgb(51, 51, 51);
    --onyx-a0: rgba(51, 51, 51, 0);
    --carbon: rgb(36, 36, 36);
    --white: rgb(255, 255, 255);
    --turquoise: rgb(5, 136, 158);
    --aquamarine: rgb(27, 226, 202);
    --smoke: rgb(235, 235, 235);
    --gray: rgb(128, 128, 128);
    --salmon: rgb(250, 119, 97);
    --mustard: rgb(247, 209, 116);
}
.--dark-mode {
    --onyx: rgb(255, 255, 255);
    --onyx-a0: rgba(255, 255, 255, 0);
    --white: rgb(32 32 32);
    --smoke: rgb(50 53 54);
    --carbon: rgb(235, 235, 235);
}


/* GENERAL ---------------------------------- */
* {
    font-family: "Montserrat";
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: var(--white);
    margin: 0;
    display: block;
    position: relative;

}
main {
    display: block;
    overflow: hidden;
    position: relative;
}
a {
    text-align: center;
    color: var(--onyx);
    width: fit-content;
    text-decoration: none;
}
a:hover {
    font-weight: bold;
    cursor: pointer;
}


/* HEADER --------------------------- */
header {
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 15px 20px 15px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background: var(--white);
    border-bottom: 1px solid var(--smoke);
}
.header_logo {
    height: 35px;
    mix-blend-mode: difference;
}
.header_logo img {
    height: 100%;
}
.header_logo:hover {
    opacity: 0.8;
}
.header_cont {
    display: flex;
    align-items: center;
}
#btn-change-mode {
    width: 30px;
    height: 30px;
    background: var(--onyx);
    display: inline-block;
    border-radius: 50%;
    border: none;
    position: relative;
    transition: scale 0.15s ease-in;
}
#btn-change-mode:hover {
    cursor: pointer;
    scale: 1.2;
}
#btn-change-mode span:first-child {
    position: absolute;
    width: 4px;
    height: 10px;
    border-radius: 10px 0 0 10px;
    top: 9px;
    left: 9px;
    background-color: var(--white);
    border: 1px solid var(--white);
}
#btn-change-mode span:nth-child(2) {
    position: absolute;
    width: 4px;
    height: 10px;
    border-radius: 0px 10px 10px 0px;
    top: 9px;
    right: 9px;
    border: 1px solid var(--white);
}


/* HEADER NAV ------------------------------------ */
.header_nav ul {
    list-style: none;
    padding: 0;
    margin: 0 20px;
    display: flex;
}
.header_nav ul li {
    margin: 0 30px;
    position: relative;
}
.header_nav ul li::after {
    content: "";
    width: 1px;
    height: 15px;
    transform: rotate(45deg);
    position: absolute;
    left: -30px;
    top: 2px;
    background-color: var(--gray);
}
.header_nav ul li:first-child:after { width: 0px }

@media (max-width: 700px) { 
    .header_nav {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 100;
        background: white;
        height: 37px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 1px solid var(--smoke);
    }
}


/* HOME ------------------------------------------- */
.home_cont {
    width: 100%;
    max-width: 750px;
    display: flex;
    margin: 0 auto;
    align-items: center;
}
.home_img {
    width: 50%;
}
.home_img img{
    width: 100%;
}
.home_info {
    position: relative;
    background-color: var(--onyx);
    padding: 10px 20px;
    border-radius: 3px;
    width: 50%;
    box-sizing: border-box;
}
.home_info h1{
    color: var(--white);
    display: block;
}
.home_info:after {
    content: "";
    position: absolute;
    background-color: var(--onyx);
    width: 15px;
    height: 15px;
    border-radius: 3px;
    transform: rotate(45deg);
    left: -5px;
    top: 50%;
    margin-top: -7px;
}
.home_info--fixed {
    position: fixed;
    width: 100%;
    max-width: 500px;
    left: 50%;
    margin-left: -200px;
    bottom: 20px;
    z-index: 100;
    height: 96px;
    border: 1px solid var(--carbon);
}
.home_info--fixed h1, .home_info--fixed:after{
    display: none;
}
.btnContact {
    background: var(--turquoise);
    border: 2px solid var(--aquamarine);
    color: white;
    border-radius: 3px;
    padding: 7px 13px;
    border: none;
    font-weight: bold;
    font-size: 13px;
    position: fixed;
    bottom: 45px;
    right: 20px;
    z-index: 100;
    display: block;
    transition: scale 0.15s ease-in;
}
.btnContact:after {
    content: "";
    position: absolute;
    background-color: var(--turquoise);
    width: 10px;
    height: 10px;
    border-radius: 3px;
    transform: rotate(45deg);
    left: 50%;
    top: 24px;
    margin-left: -5px;
}
.btnContact:hover {
    scale: 1.1
}
@media (max-width: 700px) { 
    .home_cont { flex-direction: column; }
    .home_info { 
        width: 100%;
        margin-top: 10px; 
    }
    .home_img { 
        width: 60%;
        margin-top: 10px; 
    }
    .home_info::after {
        opacity: 0;
    }
}

/* SECTIONS --------------------------------------- */
section {
    position: relative;
    padding: 70px 20px 50px;
    box-sizing: border-box;
    overflow: hidden;
}
section:nth-child(odd) {
    background-color: var(--smoke);
}
section:nth-child(odd) li.portfolio_item {
    background-color: var(--white);
}
section.sectionHome {
    height: 96vh;
    vertical-align: middle;
    display: table-cell;
    width: 100vw;
    z-index: 10;
}
section.sectionContact {
    background-color: var(--carbon);
    height: 90vh;
    vertical-align: middle;
    display: table-cell;
    width: 100vw;
    position: relative;
    z-index: 10;
}


/* PORTFOLIO LIST ------------------------------- */
.portfolio {
    list-style: none;
    padding: 0;
    display: block;
    max-width: 850px;
    margin: 0 auto;
}
.portfolio li {
    background: var(--smoke);
    opacity: 0.8;
    margin: 20px 0;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
    padding: 5px 50px 5px 20px;
    overflow: hidden;
    border: 1px solid var(--smoke);
}
.portfolio li:after {
    content: "";
    position: absolute;
    right: 20px;
    bottom: 37px;
    width: 10px;
    height: 10px;
    border-bottom: 1px solid var(--turquoise);
    border-left: 1px solid var(--turquoise);
    transform: rotate(-45deg);
    margin-bottom: -5px;
}
.portfolio li:hover {
    opacity: 1;
    border: 1px solid var(--onyx);
    /* box-shadow: 0px 0px 2px var(--gray); */
}
.portfolio li span {
    background-color: var(--onyx);
    color: var(--white);
    font-size: 11px;
    box-sizing: border-box;
    padding: 3px 10px;
    border-radius: 3px;
    margin: 0 7px;
    font-weight: bold;
    margin: 0 0px 0 9px;
}
.portfolio_head {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    pointer-events: none;
}
.portfolio_body {
    max-height: 0;
    transition: max-height 0.4s ease-in;
    pointer-events: none;
    transform: translateY(5px);
}
.portfolio_body p {
    margin-bottom: 30px;
} 
.portfolio_imagecont {
    width: 100%;
    max-height: 270px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    /* background: var(--smoke); */
}
.portfolio_imagecont div {
    width: 20%;
    position: relative;
}
.portfolio_imagecont a {
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 3px;
    color: white;
    font-size: 9px;
    bottom: 10px;
    right: 5px;
    padding: 0px 5px;
    transform-origin: bottom right;
    transform: rotate(-90deg) translateX(100%);
    text-align: left;
    /* pointer-events: initial; */
}
.portfolio_imagecont a:hover {
    background-color: black;
}
.portfolio_imagecont div img {
    width: 100%;
}
.portfolio_imagecont div::after {
    content: attr(name);
    position: absolute;
    right: 5px;
    bottom: 5px;
    color:red;
}
li.portfolio_item--active {
    opacity: 1;
}
li.portfolio_item--active .portfolio_body {
    max-height: 500px;
}
li.portfolio_item--active:after {
    transform: rotate(-225deg);
}
@media (max-width: 700px) { 
    .portfolio_head { 
        flex-direction: column;
        align-items: flex-start;
    }
    .portfolio li span {
        margin: 0 5px 5px 0px;
        display: inline-block;
    }
}






/* TEXT ------------------------------------------- */
.text {
    color: var(--onyx);
    font-size: 14px;
    line-height: 1.5;
}
.text_code {
    font-family: 'Inconsolata';
    color: var(--white);
}
.text_code span {
    animation: blinker 1s step-end infinite;
}
.text_h1 {
    font-size: 20px;
    margin: 10px 0;
    font-weight: bold;
}
.text_h2 {
    position: relative;
    font-size: 20px;
    margin: 10px 0px 40px 40px;
} 
.text_h3 {
    font-size: 17px;
} 
.text_small {
    font-size: 10px;
}
.text_x-small {
    font-size: 6px;
}
.text_h2::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 1px;
    top: 50%;
    left: -59px;
    background-color: var(--turquoise);
}
.text_h2::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    top: 50%;
    left: -28px;
    background-color: var(--turquoise);
}


/* SVG CONTAINER ----------------------------- */
.svg-container {
    position: relative;
}
.svg-container::before {
    content: "1";
    color: var(--white);
    font-size: 6px;
    position: absolute;
    left: 0.6%;
    top: -12px;
}
.svg-container::after {
    content: "7000";
    color: var(--white);
    font-size: 6px;
    position: absolute;
    right: 0.5%;
    bottom: -7px;
    letter-spacing: 2px;
}


/* SEPARATOR -------------------------------- */
.separator {
    position: relative;
    display: block;
    width: 100%;
    border-bottom: 1px solid rgba(128, 128, 128, 0.4);
    margin: 10px auto;
    mix-blend-mode: screen;
}
.separator::after {
    content: "";
    width: 10px;
    height: 2px;
    border-radius: 2px;
    position: absolute;
    right: 0px;
    top: 0px;
    background-color: rgba(128, 128, 128, 1);
}
.separator::before {
    content: "";
    width: 10px;
    height: 2px;
    border-radius: 2px;
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: rgba(128, 128, 128, 1);
}
.--dark-mode .separator {
    mix-blend-mode: multiply;
}


/* SCROLL -------------------- */
::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-track {
    background: rgba(128, 128, 128, 0.3);
    border-radius: 7px;
}
::-webkit-scrollbar-thumb {
    background: rgba(128, 128, 128, 0.5);
    border-radius: 7px;
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(128, 128, 128, 0.4);
}


/* TEXT SELECTION -------------------- */
::-moz-selection {
    background: var(--aquamarine);
} 
::selection {
    background: var(--aquamarine);
}


/* SCROLL DOWN ---------------------------------- */
.scrollDown {
    width: 10px;
    height: 10px;
    transform: rotate(-45deg);
    border-bottom: 1px solid var(--gray);
    border-left: 1px solid var(--gray);
    margin: 0 auto;
    position: absolute;
    left: 25px;
    bottom: 35px;
}


/* FOOTER ------------------------------------- */
footer {
    display: block;
    padding: 20px 20px 10px 20px;
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 0;
}
.footer_cont {
    display: flex;
    text-align: right;
    align-items: center;
    justify-content: space-between;
}
.footer_cont .text {
    color: var(--white);
}
.footer_bkg {
    position: absolute;
    width: 50%;
    height: 440px;
    bottom: 0;
    right: 0;
    /* background: red; */
}
.footer_bkg img {
    width: 64px;
    position: absolute;
    top: 0px;
    left: 200px;
}
.planet1 {
    position: absolute;
    width: 500px;
    height: 500px;
    background-color: var(--turquoise);
    bottom: -150px;
    left: 0;
    border-radius: 50% ;
}
.planet2 {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: var(--turquoise);
    top: 102px;
    left: -40px;
    border-radius: 50% ;
}
.planet3 {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: var(--aquamarine);
    top: 40px;
    left: 78px;
    border-radius: 50% ;
}
.planet4 {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: var(--aquamarine);
    top: 70px;
    left: 450px;
    border-radius: 50% ;
}

/* SOCIAL ------------------------------------- */
.social {
    display: flex;
    padding: 0;
    list-style: none;    
    align-items: center;
    transform: translateX(40px);
}
.social li {
    margin: 0 20px 0 0;
    background-color: var(--white);
    width: 40px;
    height: 40px;
    transition: scale 0.15s ease-in;
    border-radius: 3px;
    padding: 5px;
    box-sizing: border-box;
}
.social li:hover {
    scale: 1.1;
    cursor: pointer;
}
.social li a img {
    width: 100%;
    mix-blend-mode: exclusion;
    filter: contrast(0.7);
}
.email {
    margin: 20px 0;
    display: block;
    transform: translateX(40px);
    color: var(--carbon);
    padding: 4px 15px;
    background: var(--white);
    border-radius: 3px;
    transition: scale 0.15s ease-in;
    font-weight: bold;
}
.email:hover {
    scale: 1.05;
}


/* ANIMATIONS ---------------------------------- */
@keyframes fadeInAnimation {
    0% { opacity: 0 }
    100% { opacity: 1 }
}
.--animate-fadein {
    opacity: 0;
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation2 {
    0% { opacity: 0; transform: translateX(-20px); }
    100% { opacity: 1; transform: translateX(0px); }
}
.--animate-fadein-2 {
    opacity: 0;
    animation: fadeInAnimation2 ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
}
.--animate-fadein-3 {
    opacity: 0;
    animation: fadeInAnimation ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 2s;
}
@keyframes typing { 
    from { width: 0px;  } 
    to { width: 100%; } 
}
.--animate-typing {
    white-space: nowrap;
    overflow: hidden;
    animation: typing 3.5s steps(40, end);
}
@keyframes blinker { 50% {opacity: 0} }
.--hide {
    opacity: 0!important;
}


/* CONSOLE ----------------------- */
.console {
    position: absolute;
    width: 97%;
    background-color: var(--onyx);
    box-sizing: border-box;
    border-radius: 3px;
    padding: 6px 41px;
    margin-bottom: 30px;
    min-height: 25px;
    top: 30px;
    z-index: 1;
}
.console::after {
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    background-color: var(--aquamarine);
    top: 10px;
    left: 19px;
    border-radius: 50%;
}
.console p {
    font-family: 'Inconsolata';
    color: var(--white);
    margin: 0;
    font-size: 13px;
    position: relative;
}
.console p span{
    font-family: 'Inconsolata';
    color: var(--white);
    margin: 0;
    font-size: 13px;
    position: relative;
    animation: blinker 1s step-end infinite;
}

