* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   transition: all 0.6s;
   font-family: $roboto-regular;
}

p,a,span {
   font-family: $roboto-regular;
}

body {
   &::-webkit-scrollbar {
      width: 7px;
   }
   &::-webkit-scrollbar-track {
      background: transparent;
   }
   &::-webkit-scrollbar-thumb {
      background-color: $onyx;
      border-radius: 10px;
   }
}

main {
   overflow: hidden;
}

a:visited,
a:focus {
   outline: none;
}

a {
   text-decoration: none;
}

button {
   border: none;
}

.center-cont {
   max-width: $site-max-width;
   margin: 0 auto;
   width: 90%;
   box-sizing: border-box;
}

.freeze-page {
   overflow: hidden;
   height: 100%;
   position: relative;
}

.show-on-mobile {
   display: none !important;
   @include from($large) {
      display: block !important;
   }
}

.hide-on-mobile {
   display: inline;
   @include from($large) {
      display: none !important;
   }
}
