/* Mixins */

/* Mediaqueries */
@mixin from($size) {
  @media (max-width: $size) {
    @content;
  }
}

/* Fontfaces */
@mixin fontface($name, $file, $weight: normal, $style: normal) {
  $path: "./../assets/fonts/" + $name + "/" + $file;
  @font-face {
    font-family: "#{$name}";
    src: url($path+".eot");
    src: url($path+".eot?#iefix") format("embedded-opentype"), url($path+".woff") format("woff"),
      url($path+".ttf") format("truetype"), url($path+".svg#"+$name) format("svg");
    font-weight: $weight;
    font-style: normal;
  }
}

/* Definition config text */
@mixin config_text($fontFamily, $lineHeight, $fontSize, $color) {
  font-family: $fontFamily;
  line-height: $lineHeight;
  font-size: $fontSize;
  color: $color;
}

@mixin hide_element {
  width: 0px;
  height: 0px;
  overflow: hidden;
  font-size: 0px;
}

@mixin square_size($size) {
  width: $size;
  height: $size;
}

@mixin button_round($width, $height, $radius, $bgColor, $bdcolor, $color) {
  width: $width;
  height: $height;
  background-color: $bgColor;
  border: 1px solid $bdcolor;
  border-radius: $radius;
  cursor: pointer;
  transition: all 200ms;
  &:hover {
    background-color: $color;
    color: $bgColor;
    opacity: 0.8;
  }
  &:active {
    background-color: $bgColor;
    color: $color;
    opacity: 0.8;
  }
  &:disabled {
    opacity: 0.6;
    &:hover {
      background-color: $bgColor;
      color: $color;
      opacity: 0.6;
    }
  }
}
