// @import "./Variables.scss";

.title-primary {
   font-size: size(50);
   font-family: $heebo-bold;
}

.title-secondary {
   font-size: size(40);
   font-family: $heebo-bold;
   margin-bottom: 20px;
   span {
      font-size: size(20);
   }
}

.title-tertiary {
   font-size: size(22);
   font-family: $heebo-bold;
}


