/* Theme Vars */

:root {
   --color-white-black: #FFFFFF;
   --color-magenta: #FF277E;
   --color-dark-gray: #292929;
   --color-faded-gray: #A0A0A0;
   --color-white-dark: #FFFFFF;
   --color-dark-white: #333333;
   --color-coconut-black: #f9f9f9;
}

.dark-theme {
   --color-white-black: #000000;
   --color-white-dark: #292929;
   --color-dark-white: #FFFFFF;
   --color-coconut-black: #000000;
}
