/* Fonts */
$heebo-extrabold: "Heebo-ExtraBold";
$heebo-bold: "Heebo-Bold";
$heebo-medium: "Heebo-Medium";
$heebo-regular: "Heebo-Regular";
$heebo-light: "Heebo-Light";
$roboto-bold: "Roboto-Bold";
$roboto-medium: "Roboto-Medium";
$roboto-regular: "Roboto-Regular";

/* Colors */
$magenta: #FF277E;
$purple: #805AD5;
$white: #FFFFFF;
$coconut: #f2f2f2; 
$silver: #d5d5d5;
$steel: #5F6067;
$onyx: #333333;
$carbon: #141414;
$faded-gray: #e2e2e2;

/* Breakpoints */
$small: 440px;
$s-medium: 570px;
$medium: 768px;
$large: 960px;
$x-large: 1060px;
$xx-large: 1250px;
$xxx-large: 1440px;
$high-quality: 1700px;

/* z-index */
$z-back: -1;
$z-none: 0;
$z-floor: 1;
$z-medium: 10;
$z-up: 50;
$z-top: 100;

/* Pixels to rem */
$base-size: 18;
@function size($target, $context: $base-size) {
  @return ($target / $context) * 1rem;
}

/* Site max width */
$site-max-width: 1300px;

/* Shadow */
$shadow-primary: 0px 3px 12px #0000001f;


