
@import "../../../styles/variables.scss";
@import '../../../styles/mixins.scss';

.a-burger {
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	width: 100%;
	max-width: 65px;
	padding: 22px;
	box-sizing: border-box;
   background: $steel;

   &--active {
      @include from($large) {
         background: var(--color-coconut-black);
      }
   }
   &__line {
		display: block;
		width: 100%;
		height: 2px;
		margin: 5px 0;
		position: relative;
		background: $white;
		border-radius: 10px;
		z-index: 1;
		transform-origin: 4px 0px;
		transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
		opacity 0.5s ease;

		&--active {
			&:first-child {
				transform: rotate(45deg) translate(4px, 0px);
			}
			&:nth-child(2) {
				opacity: 0;
			}
			&:nth-child(3) {
				transform: rotate(-45deg) translate(0px, 1px);
			}
		}

		@include from($large) {
			background: $white;
			&--active {
				background: var(--color-dark-white);
			}
		}
	}
	
	&__line:first-child {
		transform-origin: 0% 0%;
	}
	
	&__line:nth-last-child(2) {
		transform-origin: 0% 100%;
	}

}
