@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.o-slider {
   position: relative;
   width: 100%;
   height: auto;
   .carrusel {
      width: 100%;
      .cover {
         object-fit: cover;
         width: 100%;
         height: 100vh;
      }
   }
   .arrow-content {
      display: inline-block;
      opacity: 0.9;
      width: 328px;
      min-height: 107px;
      background-color: $magenta;
      padding: 24px 28px;
      position: absolute;
      bottom: 0;
      right: 59px;
      .arrows {
         display: flex;
         flex-direction: row;
         width: 100%;
         margin-bottom: 9px;
         font-family: $roboto-bold;
         &-contain {
            display: flex;
            flex-direction: row;
            margin: 0;
         }
         span {
            color: #292929;
            font-size: size(18);
            line-height: 16px;
            margin-right: 8px;
         }
         .arrow {
            display: inherit;
            margin: 0;
            color: #292929;
            min-width: 25px;
            width: 25px;
            height: 17px;
            min-height: 17px;
         }
         .counter {
            font-family: $roboto-bold;
            font-size: size(16);
            color: $white;
         }
         .direction {
            cursor: pointer;
            &-mobile {
               display: none;
               font-size: size(16);
               font-family: $roboto-bold;
            }
         }
         .active {
            color: $white;
         }
      }
      .text {
         font-family: $roboto-regular;
         line-height: 24px;
         font-size: size(22) ;
         color: $white;
      }
   }

   @include from($large) {
      .arrow-content {
         margin: 0;
         padding: 0;
         padding-top: 7px;
         width: 154px;
         min-height: 48px;
         right: 0;
         .arrows {
            display: inline-block;
            &-contain {
               display: inline-block;
               width: 100%;
            }
            text-align: center;
            .direction {
               display: none;
               &-mobile {
                  display: inline-block;
               }
            }
            .counter {
               font-size: size(16);
            }
         }
         .text {
            display: none;
         }
      }
   }
}
