@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss"; 

.m-contact-body{
   display: block; 
   color: white;
   p {
      text-align: left;
      text-decoration: underline;
      //font: normal normal 600 41px/49px Raleway;
      font-size: size(35);
      letter-spacing: 0px;
      color: #FFFFFF;
      opacity: 1;
   }
}

.dot {
   height: 50px;
   width: 50px;
   background-color: #bbb;
   border-radius: 50%;
   display: inline-block;
 }